<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bruce.mapper.CommentMapper">

    <resultMap type="com.bruce.dto.CommentDto" id="CommentDto">
        <result property="comment_id" column="comment_id" jdbcType="VARCHAR"/>
        <result property="last_id" column="last_id" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCommentid" resultMap="CommentDto" resultType="com.bruce.dto.CommentDto">
        select comment_id,last_id,comment,createtime from comment
        where last_id='-1';


    </select>

    <select id="getCommentide" resultMap="CommentDto" resultType="com.bruce.dto.CommentDto">
        select comment_id, last_id, comment, createtime
        from comment
        where last_id like CONCAT(#{fuid}, '%')
        order by createtime desc;
    </select>

</mapper>
